<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bcbb08b5c8.js" crossorigin="anonymous"></script>
    <title>El Caribefunk | Tienda</title>
    <!-- Description used by google to find the site -->
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="./styles/styles.css">
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script>
        let stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <script src="./js/main.js" defer></script>
</head>
<body>
    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                <li><a href="index.html">INICIO</a></li>
                <li><a href="tienda.html">TIENDA</a></li>
                <li><a href="bio.html">BIO</a></li>
            </ul>
        </nav>
        <h1 class="band-name band-name-large">El Caribefunk</h1>
    </header>
        
    <section class="container content-section">
        <h2 class="section-header">MUSICA</h2>
        <div class="shop-items">
            <% items.music.forEach(function(item) { %>
                <div class="shop-item" data-item-id="<%= item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="./images/<%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= item.price / 100 %></span>
                        <button class="btn btn-primary shop-item-button" 
                        type="button">AÑADIR</button>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>

    <section class="container content-section">
        <h2 class="section-header">MERCANCIA</h2>
        <div class="shop-items">
            <% items.merch.forEach(function(item) { %>
                <div class="shop-item" data-item-id="<%= item.id %>">
                    <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="./images/<%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= item.price / 100 %></span>
                        <button class="btn btn-primary shop-item-button" 
                        type="button">AÑADIR</button>
                    </div>
                </div>
            <% }) %>
        </div>    
    </section>

    <section class="container content-section">
        <h2 class="section-header">CARRITO</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRECIO</span>
            <span class="cart-quantity cart-header cart-column">CANTIDAD</span>
        </div>
        <div class="cart-items"></div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0.00</span>
        </div>
        <button class="btn btn-primary btn-purchase" role="button">COMPRAR</button>
    </section>

    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3 class="band-name">El Caribefunk</h3>
            <ul class="nav footer-nav">
                <li>
                    <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
                </li>
                <li>
                    <a href="https://spotify.com" target="_blank"><i class="fab fa-spotify fa-3x"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>